@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  margin-top: 20px;
  padding: 8px 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;

  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: gray;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .left-links,
.header .right-links,
.footer .left-links,
.footer .right-links {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}